{% extends 'base.html.twig' %}
{% block title 'Se conncecter' %}
{% block body %}
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center" style="margin: 10%">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class=" o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-5">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image">
                                <img class="card-img-top" src=" {{ '/images/properties/01.jpg' }}" alt="card-img-top" style="width: 100%">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Administration</h1>
                                    </div>
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey | trans(error.messagedata, 'security') }}</div>
                                    {% endif %}
                                    <form action="{{ path('login') }}" method="post">
                                        <div class="form-group">
                                                <input type="text" class="form-control form-control-user" id="username"
                                                   placeholder="Nom d'utilisateur"
                                                   name="_username" value="{{ last_username }}">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="password" name="_password"
                                                   placeholder="Mot de passe">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">Se connecter</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}

